<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="HTML CSS JS Dictionary" />
  <meta name="description" content="Simple English Dictionary using HTML CSS JS and Dictionary API." />
  <meta name="author" content="Ranjeet" />
  <title>Expense Tracker</title>
  <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet" />
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <img src="/static/images/iiita2.jpeg" alt="">
            <span>
              CAMPUS EASE
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/tracker">Expense Tracker<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Application">Application </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6>
              About
            </h6>
            <div class="custom_heading-container">
              <h2>
                Expense Tracker
              </h2>
              <hr>
            </div>
            <p>
              Expense Tracker is a tool designed specifically for students to help them manage their finances. It allows
              users to easily track their earnings, expenses, investments, and savings. By providing detailed financial
              overviews and insights, this tool helps students develop better budgeting habits and avoid overspending.
              Whether it’s keeping track of daily expenses or managing larger investments, Expense Tracker empowers
              students to stay in control of their finances with ease.
            </p>
            <p>
              This project is built by a team of four:  Ranjeet Kulkarni IIT2023064 , Samrat Ray IIT2023066, Daksh Bhatti IIT2023099 and Chivukula Subbaram Shashank IIT2023050. Together,
              We aimed to create a simple, yet powerful solution for student expense management.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="/static/images/iiita3.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>

</html>
